<div class="paragraph-container">
    <h1 class="title">
        About me
    </h1>
    <hr class="underline">
    <h2 class="regard">Hi!</h2>
    <p class="about-me">
        <b class="bold">My name is Paco, i am 27 years and i'm a web developer junior.</b>  <br>
    </p>
    <p class="about-me">
        I studied Information Technologies at SABES UNIDEG University from Celaya, Guanajuato, Mexico. I graduated on April 2021. <br>
        While i was studying my bachelor i discovered the web development and i got fascinated, i started to study a training of PHP and MYSQL but when i heard about JavaScript i started to study it inmediatly cause i learned all we can do with that important programming lenguage. <br>
    </p>
    <p class="about-me">
        Currently, i know how to build a web site using HTML, CSS and JavaScript, but i also know how to build web apps with the <b class="bold">MEAN Stack (MongoDB, Express, Angular, NodeJS)</b>. Actually, this project portfolio is builded with MEAN Stack.
    </p>
</div>