<nav class="navbar">
  <ul class="menu">
    <li class="menu-item" [routerLink]="['/about-me']" [routerLinkActive]="['Actived']">About me</li>
    <li class="menu-item" [routerLink]="['/experience']" [routerLinkActive]="['Actived']">Experience</li>
    <li class="menu-item" [routerLink]="['/myself']" [routerLinkActive]="['Actived']">PACO</li>
    <li class="menu-item" [routerLink]="['/projects']" [routerLinkActive]="['Actived']">Projects</li>
    <li class="menu-item" [routerLink]="['/contact']" [routerLinkActive]="['Actived']">Contact</li>    
  </ul>
</nav>

<div class="main-container">
  <router-outlet></router-outlet>
</div>