.view-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    min-width: 1000px;
    min-height: calc(100vh - 80px);
}
.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.go-back-btn {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    position: relative;
    left: 50px;
    top: -50px;
    cursor: pointer;
}
.go-back-btn:hover {
    background-color: #555;
}
.go-back-btn > img {
    width: 100%;
    height: 100%;
}
.project-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.project-image {
    display: block;
    width: 100%;
    background-size: cover;
}
.change-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    background-color: #333;
    color: #ddd;
    text-align: center;
    border: 1px solid #000;
    position: relative;
    left: calc(100% - 100px);
}
.change-image:hover {
    background-color: #555;
    cursor: pointer;
}
.project-info {
    width: 100%;
}
.project-item, .project-item {
    display: block;
    width: 100%;
    font-size: 1.5em;
    color: #6bf;
    margin: 5px 0;
}
.technologies-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.hide {
    display: none;
}
.technology {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 70px;
    margin: 5px;
    color: #ddd;
    transition: all 300ms;
}
.technology img {
    width: inherit;
}
.technology:hover {
    transform: scale(1.2);
}
.tech-btn {
    display: none;
    border: 1px solid #000;
    background-color: #333;
    color: #ddd;
    padding: 3px;
}
.tech-btn:hover {
    background-color: #555;
}
.technologies-container:hover .tech-btn {
    display: block;
}
.name {
    font-size: 2.5em;
}
.description {
    color: #ddd;
}
.link {
    font-size: 1em;
}
.link:visited {
    color: #6bf;
}
.buttons-container {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
}
.save-btn, .delete-btn {
    width: 90%;
    color: #fff;
    font-size: 1.7em;
    padding: 5px;
    border: none;
    border-radius: 5px;    
}
.save-btn {
    background-color: #191;
    margin-bottom: 10px;
}
.save-btn:hover {
    background-color: #3b3;
    cursor: pointer;
}
.delete-btn {
    background-color: #f33;
}
.delete-btn:hover {
    background-color: #f77;
    cursor: pointer;
}
.success-message {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 100%;
    border: none;
    border-radius: 5px;
    background-color: #191;
    color: #fff;
    opacity: 0;
    transition: opacity 500ms ease-out;
    position: fixed;
    top: 90vh;
    right: 50px;
}
.show-message {
    opacity: 1;
}
.popup {
    position: fixed;
    top: 50vh;
    left: calc(50vw - 150px); /* 150px is the .popup width half */
    border: none;
    border-radius: 5px;
    padding: 15px;
    width: 300px;
    height: 80px;
    font-size: 20px;
    box-shadow: 0 0 10px #000;
    background-color: #888;
    color: #fff;
}
.popup-message {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
}
.popup::backdrop {
    background-color: rgba(0, 0, 0, 0.55);
}
.popup-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 10px;
}
.popup-button-container > button {
    width: 50px;
    font-size: 15px;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 3px;
}
.popup-button-container > button:nth-child(1) {
    margin-right: 10px;
    background-color: #191;    
}
.popup-button-container > button:nth-child(1):hover {
    background-color: #3b3;    
}
.popup-button-container > button:nth-child(2) {
    margin-left: 10px;
    background-color: #f33;
}
.popup-button-container > button:nth-child(2):hover {
    background-color: #f55;    
}